CMDLINE
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
autotools
config.h
config.hin
config.log
config.status
configure
lib
obj
rpm.spec
stamp-h
stamp-h.in
stamp-h1
tags
\#*\#
DOOM*.png
HTIC*.png
HEXEN*.png
STRIFE*.png
DOOM*.pcx
HTIC*.pcx
HEXEN*.pcx
STRIFE*.pcx

# CMake-specific ignores
/.vs
/build*
/CMakeSettings.json
/out

# These are the default patterns globally ignored by Subversion:
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store
doom.xcodeproj/xcuserdata/
doom.xcodeproj/project.xcworkspace/xcuserdata/
bin/doom
doom.xcodeproj/project.xcworkspace/xcshareddata/doom.xcscmblueprint
lmps
wads

# Ignore GNU Global tags and html files
GPATH
GRTAGS
GTAGS
/HTML/

# VSCode settings

/.vscode/

# clangd settings
/.cache/clangd
compile_commands.json
